<form oninput="x.value=topic.value">
    <p>What is your topic?</p>
    <label>Your topic:
    <input type="text" name="topic" placeholder="[Whales]"></label>
    <label>Phenomenon<input type="text" name="phenomenon" placeholder="(The sound they make)]"></label>
    <label>Context:<input type="text" name="context" placeholder="(Sound art practices)"></label>
    <button type="submit">Go</button>
    <output name="x"></output>
    <output for="context"></output>
    <p id="rq"></p>
</form>

<link href="/assets/js/form.js"/>