form {
    // text-align: center;
    font-size: 1.3em;
    padding: 50px 0;
}

form input{
    display: inline;
    font-size: inherit;
    font-family: inherit;
    border: 0 solid black;
    border-bottom-width: 2px;
    background: none;
    padding: 0;
    // text-align: inherit;
    // width: fit-content;
}

form input:focus{
    outline: none;
    // border-bottom-width: 0px;
}

form input[value=""]{
    border-bottom-width: 2px;
}

form input::placeholder{
    // font-style: italic;
    border-bottom-width: 2px;
}

form button {
    border: 2px solid black;
    background: none;
    font-size: inherit;
    font-family: Monaco, 'Courier New', Courier, monospace;
    padding: 5px 10px;
}

form button:hover {
    background-color: forestgreen;
}

form button:disabled{
    // background-color: lightgrey;
    border-color: grey;
}

form button:disabled:hover{
    background-color: lightgrey;
    cursor: not-allowed;
}

form output{
    text-shadow: 0 3px white;
    color: navy;
}